.about-image {
    margin-left: 80px;
    width: 300px;
    height: 300px;
    border: 5px solid var(--brand);

}

.about-image > img {
    width: 95%;
    height: 95%;
    margin-top: 2px;
    margin-left: 2px;
    border: 5px solid #FFD873;
}

.about-section-1 {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    padding: 50px;
}

.about-name {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: center;
}

.about-name > div:first-child {
    padding: 50px 0px;
}

.about-section-2 {
    font-size: var(--paragraph-font);
    text-align: left;
}

.about-me {
    margin-bottom: 50px;
}

.about-description {
    font-size: 16px;
}

@media only screen and (max-width: 575px) {
    .about-section-2 {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 991px) {
    .about-section-1 {
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        justify-content: center;
    }
    
    .about-image {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .about-section-2 {
        padding: 0px 138px;
    }
}

@media only screen and (min-width: 1200px) {
    .about-section-2 {
        padding: 0px 138px;
    }

    .about-name {
        margin-left: 88px;
    }
}