:root {
    --background: #FFF8EA;
    /* --background: #EDFFF8; */
    --brand: #E0F7F8;
    --highlightBlue: #B4FAF6;
    --highlighYello: #FFD873;
    --text: #4E4C4C;
    --header-xxl-font: 70px;
    --header-font: 48px;
    --header-xl-font: 46px;
    --header-l-font: 42px;
    --header-m-font: 32px;
    --header-s-font: 24px;
    --sub-header-font: 36px;
    --paragraph-font: 24px;
    --paragraph-l-font: 22px;
    --paragraph-m-font: 18px;
    --link-font: 18px;
    --font-type: Cabin;
}

body {
    margin: 0px;
    background-color: var(--background);
    font-family: var(--font-type);
    color: var(--text);

  
    
    background: linear-gradient(-45deg, #f5efdf, #f5e8d6, #edf8f4, #fdf2d2);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    top: 1000px;
  }

.header {
    font-size: var(--header-font);
    margin-bottom: 10px;
}

.header-xxl {
    font-size: var(--header-xxl-font);
}

.header-xl {
    font-size: var(--header-xl-font);
}

.header-l {
    font-size: var(--header-l-font);
}

.header-m {
    font-size: var(--header-m-font);
}

.header-s {
    font-size: var(--header-s-font);
}

.sub-header {
    font-size: var(--sub-header-font);
}

.paragraph-r {
    font-size: var(--paragraph-font);
}

.paragraph-l {
    font-size: var(--paragraph-l-font);
}

.paragraph-m {
    font-size: var(--paragraph-m-font);
}

.semi-bold {
    font-weight: 600;
}

.kinda-bold {
    font-weight: 500;
}

.sub-title {
    font-style: italic;
    font-weight: bold;
}

.small-line-space {
    padding: 5px 0px;
}

.main-container {
    /* text-align: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.introduction-container {
    /* padding: 100px 0px 0px 0px; */
    align-items: center;
}

.project-title-category {
    margin: 100px 0px 50px 0px;
}

/* .project-list, */
.about-container,
.projects-container,
.resume-container,
.contact-container {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.header-image > img {
    margin-top: 100px;
}

.intro-section {
    padding: 10px;
}

.introduction-container {
    /* background-color: var(--brand);
    background: linear-gradient(var(--brand), #f2e5f3); */
    /* background: #2b2929;
    background: black; */
}

.container-border {
    /* height: 350px;
    width: 650px; */
    height: 34vh;
    width: 38vw;
    min-width: 450px;
    position: relative;
    /* border: 2px solid green; */
    /* background: linear-gradient(to right, red, purple); */
    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
    /* background: var(--background); */
	  border: 5px solid;
	  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
	  border-image-slice: 1;
}

.sub-border-1 {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 5px solid;
	  -moz-border-image: -moz-linear-gradient(top, #6F3AD7 0%, #D73A98 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #6F3AD7 0%, #D73A98 100%);
	  border-image: linear-gradient(to bottom, #6F3AD7 0%, #D73A98 100%);
	  border-image-slice: 1;
}

.sub-border-2 {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 25px;
    border: 5px solid;
    -moz-border-image: -moz-linear-gradient(top, #EEADAD 0%, #EF1414 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #EEADAD 0%, #EF1414 100%);
    border-image: linear-gradient(to bottom, #EEADAD 0%, #EF1414 100%);
    border-image-slice: 1;
}

.footer-section {
    text-align: center;
    padding-bottom: 8px
}

.footer-section > div,
.footer-social-media .social-media {
    display: inline-block;
}

.footer-section > div:first-child {
    margin-right: 30px
}

.footer-social-media .social-media {
    /* margin-right: 15px */
}

.upper {
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
    /* .project-list, */
    .about-container,
    .contact-container,
    .projects-container {
        width: 100%;
    }

    .project-list .project-item {
        display: block;
    }

    .intro-text-section {
        font-size: 14px;
    }

    .header-l {
        font-size: 16px;
    }

    .header-m {
        font-size: 14px;
    }
    .intro-title {
        margin-bottom: 12px;
    }

    .intro-text-section {
        transform: translate(0%, -50%);
    }
}



@media only screen and (min-width: 992px) {
    /* .project-list, */
    .about-container,
    .contact-container,
    .projects-container {
        width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    /* .project-list, */
    .about-container,
    .contact-container,
    .projects-container {
        width: 1140px;
    }
}

a {
    color: inherit;
}

.success {
    color: #4BB543;
}

.fail {
    color: #cc3300;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}