.project-item {
    padding: 0px 0px 100px 0px;
}

.project-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.project-item .right {
    width: 450px;
    text-align: center;
}

.project-title,
.project-description {
    color: var(--text);
    margin-bottom: 18px;
}

.intro-title {
    margin-bottom: 25px;
    text-align: center;
}

.introduction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-section {
    text-align: left;
    color: var(--text);
}

.intro-description {
    text-align: center;
}

.image-section {
    background-image: url('../images/background.jpg');
    background-size:cover;
    position: relative;
}

.image-section > .personal-image {
    position: absolute;
}

@media only screen and (min-width: 1200px) {
    .project-list .project-item:nth-child(2) .right {
        order: 1;
    }
    
    .project-list .project-item:nth-child(2) a {
        order: 2;
    }
}

@media only screen and (max-width: 1199px) {
    .border-container {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 475px) {
    .image-section {
        width: 375px;
        height: 375px;
    }

    .image-section > .personal-image {
        width: 207px;
        height: 207px;
        top: 84px;
        left: 84px;
    }
}

@media only screen and (max-width: 374px) {
    .image-section {
        width: 326px;
        height: 326px;
    }

    .image-section > .personal-image {
        width: 180px;
        height: 180px;
        top: 73px;
        left: 73px;
    }
}

@media only screen and (min-width: 476px) {
    .image-section {
        width: 450px;
        height: 450px;
    }
    
    .image-section > .personal-image {
        width: 248px;
        height: 248px;
        top: 101px;
        left: 101px;
    }
}

