.project-item {
    padding: 0px 0px 200px 0px;
}

.project-item {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: center;
}


.layer {
    background-color: rgb(165 165 165 / 24%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.project-item .right {
    /* width: 450px; */
    text-align: left;
}

.project-title,
.project-description {
    color: var(--text);
    margin-bottom: 18px;
}

.intro-title {
    margin-bottom: 35px;
    text-align: center;
}

.intro-text-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(15%, -50%);
    color: #ffffff;
}

.intro-section {
    text-align: left;
    color: var(--text);
}

.project-title-category {
    text-align: center;
    padding: 25px 0px;
    /* border-top: 2px solid #212121; */
    /* border-bottom: 2px solid #212121; */
}

.intro-description {
    text-align: center;
}

.image-section {
    position: relative;
}

.image-section > .personal-image {
    width: 100%;
    height: 100%;
    /* margin-top: -80px; */
}

.introduction-container .intro-section:nth-child(2) {
    margin-left: 210px;
}

.flex-item-left {
    flex: 1 1 23%;
    margin: 0 2% 0 10%;
}

.flex-item-right{
    flex: 1 1 23%;
    margin: 0 5% 0 2%;
}

/* .project-item:first-child .sub-image-container img {
    width: 90%;
    height: 90%
} */
@media only screen and (min-width: 1200px) {
    /* .project-list .project-item:nth-child(2) .right {
        order: 1;
    }
    
    .project-list .project-item:nth-child(2) a {
        order: 2;
    } */
}

@media only screen and (max-width: 1199px) {
    .border-container {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 475px) {
    /* .image-section {
        width: 375px;
        height: 375px;
    } */

    /* .image-section > .personal-image {
        width: 207px;
        height: 207px;
        top: 84px;
        left: 84px;
    } */
}

@media only screen and (max-width: 374px) {
    /* .image-section {
        width: 326px;
        height: 326px;
    } */

    /* .image-section > .personal-image {
        width: 180px;
        height: 180px;
        top: 73px;
        left: 73px;
    } */
}

@media only screen and (min-width: 476px) {
    /* .image-section {
        width: 450px;
        height: 450px;
    } */
    
    /* .image-section > .personal-image {
        width: 248px;
        height: 248px;
        top: 101px;
        left: 101px;
    } */
}

