.case-study-container {
    font-size: 18px;
}

.mirror .prject-header-background {
    text-align: center;
    background-color: #f0cfcf;
}

.mirror .header-image > img {
    padding-top: 50px;
    padding-bottom: 100px;
}

.case-study-container .project-body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.project-body-title {
    text-align: center;
    font-size: var(--header-l-font);
    padding-top: 50px;
    margin-top: 100px;
}

.case-study-container .project-body .overview-title,
.case-study-container .project-body .title {
    font-size: var(--header-m-font);
    color: #f4066a;
}

.sectionBody {
    /* padding-bottom: 12px; */
    margin-bottom: 28px;
}

.sectionBody label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: black;
}

.personal-image-section {
    margin-top: 18px;
    text-align: center;
}

.project-define .personal-image-section {
    display: flex;
    justify-content: center;
}

.project-define .personal-image-section img {
    width: 80vw;
}

.table-section-header th,
.table-section-body td {
    padding: 12px;
    text-align: center;
}

.table-description {
    padding-top: 12px;
    padding-bottom: 12px;
}

.sectionBody div {
    margin-top: 18px;
}

.overview-text {
    font-size: var(--paragraph-m-font);
}

.project-body {
    padding-left: 18px;
    padding-right: 18px;
}

.table-section, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-section {
    width:100%;
    table-layout:fixed;
}

.table-section,
.personal-image-section > img {
    width: 100%;
}

.research-compare-section {
    display: flex;
}

.research-compare-section > div {
    flex: 1 1 0;
}

.research-image-group {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 15px;
}


.sectionBody.design .wireframe-image {
    margin-right: 18px
}

/* .table-section {
    width: 100%;
}

.personal-image-section > img.task-flow-image {
    width: 100%;
} */

.overview-title.title,
.procecss-title.title,
.empathize-title.title,
.design-title.title,
.define-title.title,
.test-title.title,
.next-step-title.title,
.conclusion-title.title {
    margin-bottom: 50px;
    text-align: center;
}

.overview-text.ending {
    font-size: 24px;
    text-align: center;
    margin: 100px 0px;
}

.competitorLogo img {
    width: 180px;
    height: 80px;
}

.sectionBody.design .mid_fi_wireframe-image {
    margin-top: -70px;
}

.project-overview,
.project-process,
.project-empathize,
.project-define,
.project-design,
.project-test,
.project-conclusion {
    padding-top: 50px;
}

.sectionBody.empathize .personal-image-section {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-overview {
    display: grid;
    /* grid-template-columns: repeat(20, 1fr); */
    /* grid-template-rows: repeat(5, 1fr); */
    /* grid-auto-rows: 100px; */
    grid-template-areas:
        "header header header header    header"
        "goal   goal   .      .      statement"
        "goal   goal   .      .      role"
        "goal   goal   .      .         duration";
    column-gap: 30px;
}

.project-overview .overview-title {
    grid-area: header;
}


.project-overview .goal {
    grid-area: goal;
}

.project-overview .statement {
    grid-area: statement;
}
.project-overview .role {
    grid-area: role;
}
.project-overview .duration {
    grid-area: duration;
}

.wireframe-image > img {
    /* width: 300px;
    height: 500px; */
    width: 100%;
    height: 100%;
}

.wireframe-image {
    /* margin: 5px; */
    /* width: calc(90% / 3);
    height: calc(90% / 3); */
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.wireframe-image:nth-child(4),
.wireframe-image:nth-child(5) {
    margin-top: 25px;
}

.wireframe-image > img:nth-child(2) {
    width: 100%;
    height: 90%;
}

.hi_fi_wireframe-image {
    width: 100vw;
    height: 100%;
    /* margin: 10px 5px; */
    margin-top: 25px;
}
/* .hi_fi_wireframe-image > img {
    width: 100%;
    height: 100%;
} */

.project-test .view-prototype {
    text-align: center;
}

.research-image-group .left-column,
.research-image-group .right-column {
    display: flex;
    flex-direction: column;
}

.research-image-group.ui-design {
    width: 100%;
}

.ui-design-image {
    width: 100%;
}

.research-image-group img {
    max-width: 100vw;
}

.view-prototype {
    padding: 25px 0px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    /* text-shadow: 0px 1px lightgrey; */
    /* text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 5px darkblue; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.sectionBody.final_wireframe {
    display: flex;
    justify-content: center;
}

.view-prototype-button {
    width: 200px;
    height: 60px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.view-prototype-button span {
    line-height: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: semibold;
}
.view-prototype-button:first-child {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);

}
.view-prototype-button:first-child:hover {
    opacity: 0.7;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.view-prototype-button:first-child:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}


.project-image-section:not(:last-child) {
    margin-bottom: 12px;
}

.competitorLogo:last-child > img {
    border: 1px solid black;
}

@media only screen and (min-width: 575px) {
    .case-study-container .project-body {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) {
    .case-study-container .project-body {
        width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .case-study-container .project-body {
        width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .case-study-container .project-body {
        width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .case-study-container .project-body {
        width: 960px;
    }
}

/* Limit header image size on large screen */
@media only screen and (max-width: 790px) {
    .mirror .header-image > img {
        width: 100vw;
    } 
}
